.reservation-card {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7fafc;
  margin-bottom: 16px;
}

.reservation-card-left {
  display: flex;
}

.service-info {
  width: 60%;
}

.service-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 5%;
  margin-top: 1%;
}

.service-image {
  width: 100%;
  height: 128px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1%;
}

.price-description {
  padding-left: 16px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 0.875rem;
  font-weight: 600;
  color: #718096;
  margin-bottom: 8px;
}

.description {
  font-size: 0.875rem;
  color: #718096;
}

.reservation-info {
  font-size: 0.875rem;
  color: #718096;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40%;
  text-align: center;
}

.reservation-info p {
  text-align: left;
  width: 100%;
}

.reservation-card-right {
  width: 30%;
  text-align: right;
}

.countdown {
  font-weight: 600;
  color: #2d3748;
}

.modify-button,
.destructive-button {
  margin: 8px 0;
}

.time-limit {
  font-size: 0.75rem;
  color: #a0aec0;
  display: inline-block;
  margin-left: 12%;
}

@media (prefers-color-scheme: dark) {
  .reservation-card {
    background-color: #2d3748;
  }

  .service-title {
    color: #e2e8f0;
  }

  .price,
  .description {
    color: #e2e8f0;
  }

  .reservation-info {
    color: #e2e8f0;
  }

  .countdown {
    color: #e2e8f0;
  }

  .time-limit {
    color: #cbd5e0;
  }
}