.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffe81f;
  background-color: #1a1a1a;
  margin-left: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

.filtroSection {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ffe81f;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.ratingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .filtersContainer {
    margin-left: 0;
    padding: 15px;
  }

  .filtroSection {
    padding: 8px;
  }

  .ratingContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
