.hotelsPage {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-bottom: 0px;
}

.contentContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
  flex-wrap: wrap;
}

.filtersContainer {
  width: 300px;
  flex-shrink: 0;
  border-color: #ffe81f;
  padding: 20px;
  border-radius: 8px;
}

.infoContainer {
  flex-grow: 1;
  border-color: #ffe81f;
  padding: 0px;
  border-radius: 0px;
}

.loading{
  font-family: 'Press Start 2P', sans-serif; 
  text-transform: uppercase; 
  color: #FFE81F; 
  text-shadow: 0 0 1px #FFE81F, 0 0 5px #FFE81F, 0 0 10px #ff6600, 0 0 15px #ff6600, 0 0 20px #ff6600, 0 0 25px #ff6600, 0 0 40px #ff6600; 
  letter-spacing: 2px; 
  font-size: 1.5rem; 
  text-align: center;  
}

@media (max-width: 768px) {
  .contentContainer {
    flex-direction: column;
    width: 100%;
  }
  .filtersContainer {
    width: 100%;
  }
}
