.name{
    font-family: 'Press Start 2P', sans-serif; /* Fuente estilo retro-futurista */
    text-transform: uppercase; /* Letras mayúsculas */
    color: #ffcc00; /* Color amarillo (como el de los títulos de Star Wars) */
    text-shadow: 0 0 5px #ffcc00, 0 0 10px #ffcc00, 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff6600, 0 0 75px #ff6600; /* Efecto de resplandor */
    letter-spacing: 5px; /* Espaciado entre letras */
    font-size: 1rem; /* Tamaño grande */
    text-align: center; /* Centrado del texto */
    padding: 20px; /* Relleno dentro del h1 */
  
  }

  