.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.modal-content {
  background: #2d3748;
  color: white;
  padding: 1%;
  border-radius: 8px;
  max-width: 70vw;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 0,5vw;
  margin-bottom: 1vh;
  min-height: fit-content;
}

.carousel img {
  width: 7vw;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
}

.carousel img.selected {
  border-color: #007bff;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.edit-form label {
  display: flex;
  flex-direction: column;
}

.edit-form input {
  padding: 1vh;
  border-radius: 4px;
  background: #2d3748;
  color: white;
  border: 1px solid #777;
}

.edit-form select {
  padding-top: 1.5vh;
  padding-bottom: 1.5vh;
  padding-left: 1vh;
  border-radius: 4px;
  background: #2d3748;
  color: white;
  border: 1px solid #777;
  margin-top: 1vh;
}

.button {
  margin-top: 1vh;
  padding: 1vh;
}

@media (max-width: 900px) {
  .modal-content {
    max-width: 90vw;
  }

  .carousel img {
    width: 20vw;
    height: auto;
  }
}

