.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.3);
  }

  ::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.5);
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.modal-content {
  background: #2d3748;
  color: white;
  padding: 1.5%;
  border-radius: 8px;
  max-width: 90vw;
}

.modal-content h2{
  margin: auto;
  word-break: keep-all;
}

.carousel {
  display: flex;
  overflow-x: auto;
  gap: 0.5vw;
  margin-bottom: 1vh;
  margin-top: 1vh;
  min-height: fit-content;
}

.carousel img {
  width: 7vw;
  height: auto;
  cursor: pointer;
  border: 2px solid transparent;
  border-radius: 50%;
}

.carousel img.selected {
  border-color: #007bff;
}

.edit-form {
  display: flex;
  flex-direction: column;
}

.edit-form label {
  display: flex;
  flex-direction: column;
}

.edit-form input {
  padding: 0.5vh;
  border-radius: 4px;
  background: #2d3748;
  color: white;
  border: 1px solid #777;
  margin-top: 0.5vh;
}

.edit-form select {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  border-radius: 4px;
  background: #2d3748;
  color: white;
  border: 1px solid #777;
  margin-top: 0.5vh;
}

.button {
  margin-top: 3vh;
  padding: 0.5vh;
}

@media (max-width: 900px) {
  .modal-content {
    max-width: 90vw;
  }

  .carousel img {
    width: 20vw;
    height: auto;
  }
}

