@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', sans-serif;
  background-color: #1a202c;
  color: #e2e8f0;
}

.profile-sections {
  display: grid;
  grid-template-columns: 1fr;
}

.profile-info {
  display: grid;
  grid-template-columns: 2.5fr 2.5fr;
  gap: 8px;
  margin-left: 4vw;
  margin-right: 4vw;
  overflow: hidden;
  word-break: break-all;
}

.profile-title {
  font-size: 200%;
  font-weight: 600;
  margin-bottom: 1.5%;
  color: #FFE81F;
  text-align: center;
  text-shadow: 0 0 5px #FFE81F, 0 0 10px #ff6600, 0 0 20px #ff6600;
}

.profile-details,
.notifications {
  background-color: #2d3748;
}

@media (max-width: 880px) {
  .profile-pic {
    width: 50vh;
    height: 50vh;
  }
  .profile-info {
    grid-template-columns: 1fr;
    margin-left: 2vw;
    margin-right: 2vw;
  }
}

@media (max-width: 425px) {
  .profile-pic {
    width: 40vh;
    height: 40vh;
  }
  .profile-info {
    margin-left: 1vw;
    margin-right: 1vw;
  }
}