body {
  font-family: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  background-color: #ffffff;
  color: #333;
}

.card {
  display: flex;
  justify-content: space-between;
  margin-bottom: 24px;
  padding: 16px;
  border-radius: 16px;
  background-color: #f7fafc;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.card .left {
  display: flex;
  width: 66%;
}

.card .left .image-title {
  width: 33%;
}

.card .left .image-title h3 {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 8px;
}

.card .left .image-title img {
  width: 100%;
  height: 8rem;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 8px;
}

.card .left .details {
  padding-left: 16px;
  width: 66%;
}

.card .left .details .price {
  font-weight: 600;
  font-size: 0.875rem;
  margin-bottom: 8px;
}

.card .left .details p {
  font-size: 0.875rem;
  color: #4a5568;
}

.card .right {
  text-align: right;
  width: 33%;
}

.card .right .counter {
  font-weight: 600;
  font-size: 1rem;
}

.card .right .time-info {
  font-size: 0.75rem;
  color: #718096;
  margin-top: 8px;
}

.reservation-card {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #f7fafc;
  margin-bottom: 16px;
}

.reservation-card-left {
  display: flex;
  width: 66.6%;
}

.service-info {
  width: 40%;
}

.service-title {
  font-size: 1.125rem;
  font-weight: 600;
  color: #2d3748;
  margin-bottom: 5%;
  margin-top: 1%;
}

.service-image {
  width: 100%;
  height: 128px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 1%;
}

.price-description {
  padding-left: 16px;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.price {
  font-size: 0.875rem;
  font-weight: 600;
  color: #718096;
  margin-bottom: 8px;
}

.description {
  font-size: 0.875rem;
  color: #718096;
}

.reservation-info {
  font-size: 0.875rem;
  color: #718096;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20%;
  text-align: center;
}

.reservation-info p {
  text-align: left;
  width: 100%;
}

.reservation-card-right {
  width: 40%;
  text-align: right;
}

.countdown {
  font-weight: 600;
  color: #2d3748;
}

.modify-button,
.destructive-button {
  margin: 8px 0;
}

.time-limit {
  font-size: 0.75rem;
  color: #a0aec0;
  display: inline-block;
  margin-left: 12%;
}

button {
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 0.875rem;
  font-weight: 500;
  cursor: pointer;
}

button.outline {
  border: 1px solid #cbd5e0;
  background-color: transparent;
  color: #2d3748;
  margin-bottom: 8px;
}

button.outline:hover {
  background-color: #edf2f7;
}

button.destructive {
  background-color: #c53030;
  color: white;
  border: 1px solid #cbd5e0;
}

button.destructive:hover {
  background-color: #e53e3e;
}

.reservation-list {
  padding: 16px;
}

.reservation-list-title {
  font-size: 200%;
  font-weight: 600;
  margin-bottom: 1.5%;
  color: #2d3748;
  margin-left: 1%;
  margin-top: -0.5%;
}

.modal-overlay {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.no-scroll {
  overflow: hidden;
}

.modal-content {
  background-color: white;
  padding: 7vh;
  width: 80vh;
  height: 80vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top:-2vh;
  margin-bottom: 2vh;
  font-size: large;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.input-section {
  display: flex;
  flex-direction: column;
}

.input-group-row {
  display: flex;
  justify-content: space-between;
}

.input-group {
  margin-bottom: 20px;
  width: 48%;
}

input {
  width: 100%;
  padding: 2%;
  margin-top: 2%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.price-title{ 
  margin-bottom: 1%;
  font-size: large;
}

.price-item {
  display: flex;
  justify-content: space-between;
}

.total {
  font-weight: bold;
}

.modal-footer {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.reserve-button {
  margin-top: 4vh;
  padding: 10px 20px;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reserve-button:hover {
  background-color: #4caf50;
}

.modal-content-cancel {
  background-color: white;
  padding: 7vh;
  width: 85vh;
  height: 50vh;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}

.return-button,
.cancel-button {
  background-color: #f44336;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  display: inline-block;  
  margin: 4vh;
  margin-top: 8vh;
  margin-bottom: -8vh;
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1a202c;
    color: #e2e8f0;
  }

  .card {
    background-color: #2d3748;
  }

  .card .left .details p,
  .card .left .details .price {
    color: #cbd5e0;
  }

  .card .right .time-info {
    color: #a0aec0;
  }

  .reservation-card {
    background-color: #2d3748;
  }

  .service-title {
    color: #e2e8f0;
  }

  .price,
  .description {
    color: #e2e8f0;
  }

  .reservation-info {
    color: #e2e8f0;
  }

  .countdown {
    color: #e2e8f0;
  }

  .time-limit {
    color: #cbd5e0;
  }

  button.outline {
    border-color: #cbd5e0;
    color: #e2e8f0;
  }

  button.outline:hover {
    background-color: #4a5568;
  }

  .header {
    background-color: #4a5568;
  }

  .logo-placeholder {
    background-color: #718096;
  }

  .reservation-list-title {
    color: #f7fafc;
  }

  .modal-content {
    background-color: #2d3748;
  }
  .modal-content-cancel {
    background-color: #2d3748;
  }

  .close-button{
    color: #e2e8f0;
  }
}