.filtersContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    margin-left: -20px;
    
  }

  
  .filtroSection {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  .checkboxGroup {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .ratingContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }
  