.filtersContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ffe81f;
  background-color: #1a1a1a;
  margin-left: 0px;
  max-width: 100%;
  box-sizing: border-box;
}

.filtroSection {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ffe81f;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

.checkboxGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
  font-family: sans-serif; /* Fuente estilo retro-futurista */
  color: white; /* Color amarillo (como el de los títulos de Star Wars) */
  letter-spacing: 2px; /* Espaciado entre letras */
  font-size: 1rem; /* Tamaño grande */
  text-align: justify; /* Centrado del texto */ 
  padding: 10px
}

.checkboxGroup input[type="checkbox"] {
  margin-right: 10px; /* Espacio a la derecha del checkbox */
}

.ratingContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.priceSlider {
  width: 100%;
  margin: 10px 0;
  accent-color: #ffe81f; /* Color del slider */
}




/* Estilo general para los checkboxes */
.checkboxGroup label {
  display: block;
  font-size: 16px;
  cursor: pointer; /* Cambia el color de fondo cuando está seleccionado */
  border-color: #ff6600;
}



/* Marca de verificación */
.checkboxGroup input[type="checkbox"]:checked + span::after {
  content: '\2713'; /* El símbolo de checkmark */
  position: absolute;
  left: 4px;
  top: 1px;
  font-size: 14px;

}

@media (max-width: 768px) {
  .filtersContainer {
    margin-left: 0;
    padding: 15px;
  }

  .filtroSection {
    padding: 8px;
  }

  .ratingContainer {
    flex-direction: column;
    align-items: flex-start;
  }
}
