@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
.infoContainer {
  padding: 0px;
  position: absolute;
  top: 420px;
  left: 320px;
  margin-right: 20px;
  margin-bottom: 50px;
  background-color: #1a1a1a;
  border-radius: 8px;
  row-gap: 20px;
}


.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  width: 100%;
  padding: 10px;
}

.imageContainer {
  border-radius: 8px;
  border: 1px solid #ffe81f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.detailsContainer,
.priceContainer {
  border-radius: 8px;
  border: 1px solid #ffe81f;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  position: relative;
  width: 100%;
}

.detailsContainer {
  padding: 20px;
  flex-direction: column;
  gap: 10px;
}

.priceContainer {
  padding: 20px;
  flex-direction: column;
  justify-content: space-between;
}

.ul {
  list-style-type: disc;
  padding: 10px;
}


.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.planetsImagesContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 40px;
    column-gap: 40px;
    width: 100%;
    padding: 20px;

}

h1 {
  font-family: 'Press Start 2P', sans-serif; 
  text-transform: uppercase; 
  color: #FFE81F; 
  text-shadow: 0 0 5px #FFE81F, 0 0 10px #FFE81F, 0 0 20px #ff6600, 0 0 30px #ff6600, 0 0 40px #ff6600, 0 0 50px #ff6600, 0 0 75px #ff6600; 
  letter-spacing: 5px; 
  font-size: 2rem; 
  text-align: center; 
  padding: 20px; 

}

h2 {
  font-family: 'Press Start 2P', sans-serif; 
  text-transform: uppercase; 
  color: #FFE81F; 
  text-shadow: 0 0 1px #FFE81F, 0 0 5px #FFE81F, 0 0 10px #ff6600, 0 0 15px #ff6600, 0 0 20px #ff6600, 0 0 25px #ff6600, 0 0 40px #ff6600; 
  letter-spacing: 2px; 
  font-size: 1.5rem; 
  text-align: center;  

}

h3 {
  font-family: 'Press Start 2P', sans-serif; 
  color: #FFE81F; 

  letter-spacing: 2px; 
  font-size: 1rem; 
  text-align: center;  
  padding: 10px

}

p {
  font-family: sans-serif; 
  color: white; 
  letter-spacing: 2px; 
  font-size: 1rem; 
  text-align: justify;  
  padding: 10px

}



/* 🔹 Ajustes para pantallas pequeñas */
@media (max-width: 768px) {
  .gridContainer {
    grid-template-columns: 1fr; 
    padding: 10px
  }

  .infoContainer {
    position: relative; 
    top: auto;
    right: auto;
    left: auto;
    padding: 0px;
    width: 100%; 
  }
}